
<h1>Movies</h1>
<hr>
<div style="display:flex; justify-content: space-between;">
<div id="movies" class="mb-3 text-center", style="max-width:40%">
  <% @movies.each do |movie| %>
    <%= render movie %>
    <p>
      <%= link_to "Show this movie", movie %>
    </p>
  <% end %>
</div>
</div>